extends ../includes/layout

block sidebar
  ul.nav.nav-list.bs-docs-sidenav.affix
    li
      a(href="#link1")
        i.icon-chevron-right
        = "First Link"
    li
      a(href="#link2")
        i.icon-chevron-right
        = "Second Link"

block content
  h1 Chapter 1
  p All about chapter 1
