doctype 5
html
  head
    title #{projectName} | #{title}
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button(type="button", class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="brand", href="#")
            i(class="icon-book icon-white") &nbsp;#{projectName}
          .nav-collapse.collapse
            ul.nav
              li
                a(href="#") Home
              li
                a(href="#about") About
              li
                a(href="#contact") Home

    .container-fluid
      .row-fluid
        .span2
          p Sidebar content here
        .span10
          block content